body{
    background-color: #141414;
}
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
  }
.app-wrapper{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding-bottom: 40px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: fit-content;
    margin-top: 50px;
}
.image-design{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 70px;
    padding-top: 10px;
}
.header1-design{
    color: #fbfbfb;
    text-align: center;
    font-size: 25px;
}
.header4-design{
    color:#c4f82a;
    text-align: center;
    margin-top: -10px;
    font-size: small;
}
.p-design{
    color:#fbfbfb;
    text-align: center;
    font-size: 13px;
    margin-bottom: 20px;
}
.button-design{
    display: block;
    background-color: #333333;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #fbfbfb;
    font-weight: bold;
}
button:hover{
    background-color: #c4f82a;
    color: #141414;
    animation-delay: 1000ms;
}